doctype
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='layout.css')
  body(background= 'assets/background.gif')
    div(id= 'header')
      img(src= 'assets/netscape_now.gif')
    != yield
    div(id= 'footer')
      img(src= "assets/under_construction.gif")
      img(src= "assets/under_construction.gif")
      img(src= "assets/under_construction.gif")
      br
      marquee(width= '50%') This page is under construction
      p= 'Copyright (c) 1999'
