doctype
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='layout.css')
  body
    div(id='header')
      a(href='http://sillydog.org/narchive/full4.php', target='_blank')
        img(src='assets/netscape_now.gif')
    != yield
    div(id='footer')
      br
      img(src="assets/under_construction.gif")
      img(src="assets/under_construction.gif")
      img(src="assets/under_construction.gif")
      br
      marquee This page is under construction
      p 'Copyright (c) 1999'
