head
  link(rel='stylesheet' href='index.css')

h1 Welcome to my web page!
img(id='ImageShaneWilton', src='assets/shanewilton.jpg')
p I'm a computer science student with a passion for B-movies, and an eye for design.
ul
  li
    | Follow me on 
    a(href='https://github.com/shanewilton/', target='_blank') Github
  li
    | Contact me with 
    a(href='https://keybase.io/shanewilton', target='_blank') Keybase
  li
    | View my 
    a(href='resume.html', target='_blank') resume
