head
  link(rel='stylesheet' href='index.css')

h1 Welcome to my web page!
img(id='Narcissism', src='assets/quinnwilton.png')
p I'm a security engineer with a passion for B-movies, and an eye for design. I compete on the Samurai CTF team.
ul
  li
    | Follow me on
    a(href='https://github.com/shanewilton/', target='_blank') Github
  li
    | Contact me with
    a(href='https://keybase.io/shanewilton', target='_blank') Keybase
  li
    | Read my
    a(href='https://medium.com/@shanewilton', target='_blank') blog
